<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infocancer" >

    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Diet"
            android:label="@string/title_activity_diet" >
        </activity>
        <activity
            android:name=".HealthTips"
            android:label="@string/title_activity_health_tips" >
        </activity>
        <activity
            android:name=".Glossary"
            android:label="@string/title_activity_glossary" >
        </activity>
        <activity
            android:name=".Records"
            android:label="@string/title_activity_records" >
        </activity>
        <activity
            android:name=".Hbreast"
            android:label="@string/title_activity_hbreast" >
        </activity>
        <activity
            android:name=".Hmouth"
            android:label="@string/title_activity_hmouth" >
        </activity>
        <activity
            android:name=".Hcolon"
            android:label="@string/title_activity_hcolon" >
        </activity>
        <activity
            android:name=".Hcervical"
            android:label="@string/title_activity_hcervical" >
        </activity>
        <activity
            android:name=".Hprostate"
            android:label="@string/title_activity_hprostate" >
        </activity>
        <activity
            android:name=".Hlung"
            android:label="@string/title_activity_hlung" >
        </activity>
        <activity
            android:name=".Hstomach"
            android:label="@string/title_activity_hstomach" >
        </activity>
        <activity
            android:name=".Hskin"
            android:label="@string/title_activity_hskin" >
        </activity>
        <activity
            android:name=".Information"
            android:label="@string/title_activity_information" >
        </activity>
        <activity
            android:name=".Hospitals_list"
            android:label="@string/title_activity_hospitals_list" >
        </activity>
        <activity
            android:name=".NGO_list"
            android:label="@string/title_activity_ngo_list" >
        </activity>
        <activity
            android:name=".Types"
            android:label="@string/title_activity_types" >
        </activity>
        <activity
            android:name=".CancerType"
            android:label="@string/title_activity_cancer_type" >
        </activity>
        <activity
            android:name=".Tumor"
            android:label="@string/title_activity_tumor" >
        </activity>
        <activity
            android:name=".Causes"
            android:label="@string/title_activity_causes" >
        </activity>
        <activity
            android:name=".AddRecord"
            android:label="@string/title_activity_add_record" >
        </activity>
        <activity
            android:name=".ViewRecord"
            android:label="@string/title_activity_view_record" >
        </activity>
    </application>

</manifest>
